<a href="https://colab.research.google.com/github/saratbantupalli/Financial_Market_Trends/blob/main/python_basics/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction
The goal of this notebook is to serve as a quick reference guide. This notebook gives the **basic syntax** of Python coding language, and quick notes. All information is provided with respect to data science.


## Python
Phyton is a very high-level and general purpose language. It also an interpreted language.

*What does this mean?*  
Python does a lot of work for the user. The user does not need to declare the type of variable/ data structure. For example, a decimal variable is interpreted by Python, the user does not need to explicity declare it.

*Why Python*  
It is open-source, a strong community for help, lots of data science libraries, and handles big data well!

# Basic Syntax and Notes
Here we will see the basic syntax of Python, commonly used objects, their properties, and functions.  

You can create an object using **=** .

In [ ]:
a = 2 # a comment can be created using '#'
print(a) # print the object we just created

2

In [ ]:
b = 5
a
b

5

In the above example, we can see that only the last variable (b) was printed in the output! Python only prints the last instruction. To have both a and b printed in the output, we need to use the `print()` function.

In [ ]:
# using the print function, we print all statements of interest
print(a)
print(b)

2
5

## Multiple Assignment
In Python, we can also do **Multiple assignment** once.

In [ ]:
a,b,c = 2,5,10 # Separate each variable by ',' for multiple assignment
print(a,b,c)

2 5 10

## * Operator
Another useful operator would be the use * operator in variable assignment. This feature would come in handy to simplify our code.

Note: This is very helpful in packing and unpacking variables.

In [ ]:
x, *y = 'orange', 'banana', 'apple'
print(x) # orange gets assigned to x
print(y) # everything else gets assigned to y
y

orange
['banana', 'apple']

['banana', 'apple']

## _ Variable
The _ variable is a cool feature. The last evaluated expression is assigned to the variable_. This would be a useful variable when we do not want to store extra variables (for example in a loop). It acts more like a placeholder variable.  

The last evaluated expression for us is print(y), so _ variable should output y.

Note: `print()` does not count toward the _!

In [ ]:
_

['banana', 'apple']

## Copying vs Referencing
In general, assignment statements do not copy objects, they create bindings between a target (a spot in the memory) and an object.

In [ ]:
x = [1, 2, 3, "Cats and Dogs"] # Create a object x
y = x # Cretae a object y
print(x,y)

[1, 2, 3, 'Cats and Dogs'] [1, 2, 3, 'Cats and Dogs']

In [ ]:
x[3] = ["Dogs vs Cats"] # access 4th element and assign a new value
print(x,y)

[1, 2, 3, ['Dogs vs Cats']] [1, 2, 3, ['Dogs vs Cats']]

We can see that the elements of both x and y changed.  

To avoid this behavior, create a copy of the object instead of referencing.

In [ ]:
y = x.copy() # copy the object
x[2] = 1000
print(x,y)

[1, 2, 1000, ['Dogs vs Cats']] [1, 2, 3, ['Dogs vs Cats']]

## Augmented Assignment
A shorthand for an expression. Very useful for having a shorter code.

In [ ]:
winnings = 100
winnings += 20 # winnings = winnings + 20 (100 + 20)
winnings

120

In [ ]:
winnings *= 40 # winnings = 40*winnings
winnings

4800

In [ ]:
winnings **= 1/2 # exponent , winnings = sqrt(winnings)
winnings

69.2820323027551

## Functions, Methods, and Attributes
Two major ways to do an operation on a variable/object:  
+ Functions: function_name(my_var, arguments), generic and can be applied to different objects. Commonly used functions include `len()`, `sorted()`
+ Methods: my_var.method(arguments), specific to the object  
+ Attributes: my_var.attribute, no brackets- example: my_function._doc_

# Modules
Modules or packages are a collection of related statements and give extra functionality to the user. There are some modules that come with base Python distribution and there are others that the user needs to donwload and import. Some common modules include `math`, `numpy`, `matplotlib`, and `pandas`.  

**Note**  
Functions in the base Python modules can be called directly. For example, print().  
Functions in modules the user downloads and imports, need a module prefix. For example, square root function from `math` module: math.sqrt(variable_name).

## Importing Modules
Modules are usually imported to a environment using the `import` keyword.

In [ ]:
import math #import the math module- contains math constants like pi,e and commonly used functions like sin(), sqrt()

Since `math` is not a base module, we need to use the prefix **math.function_name** for functions from this module.  

**Note**  
While importing a module, the user has the option to abbreviate the module name. For example, numpy is usually abbreviated as np. to import, `import numpy as np`.
Well known data science modules all have preffered abbreviations.

In [ ]:
x = 16
print(math.sqrt(x))

4.0

### Selective import
The user can selectively import specific functions from a module. This allows us to call the functions without the module prefix.

In [ ]:
from math import sqrt, pi

## Installing Modules
Pip Installs Packages or pip is the package manager for python. It is used through command line.  

In google colab, modules can be installed using ! first.

Alternatively, anaconda is a great way to deal with modules. It creates virtual environments (for example Project 1, Project 2), installs and manages modules for each environment. minconda, a lighter version of anaconda, is great.

# Data Structures
Here we will talk about commonly used data structures in Python and see their properties.

## Lists
A common data type which is very flexible. It is one-dimensional, ordered, and sequence-type object. They are mutable and Iterable.

_**NOTE: In Python counting starts from 0.**_

Four ways to create lists:  
+ Squared brackets: [element1, element2]  
+ list((element1, element2))
+ Create an empty list and append to it  
+ List comprehensions- simplify the code a lot- very useful  

Lists don't restrict the type of data they can have. Hence, lists can have other lists.

In [ ]:
# first way of creating lists- using square brackets
x = [1,2,3]
print(x)
type(x)

[1, 2, 3]

list

In [ ]:
# second way of creating lists- using list()
x = list((1,2,3))
print(x)
type(x)

[1, 2, 3]

list

In [2]:
# Third way of creating lists- using an empty list and appending
my_list = list()
my_list.append(0)
my_list

[0]

In [6]:
# Fourth way- list comprehension- very useful when creating lambda functions
my_list = [x for x in range(0,10)] # essentially it says for x in range(0,10): return(x)
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Indexing Lists
Lists can be indexed (obtain the element from an object) using squared brackets []. Counting starts at 0. Negative index counts from reverse (starting at 1).

In [ ]:
x[0]

1

In [ ]:
x[-1]

3

### Slicing Lists
Getting a range of elements from the object.

In [ ]:
x[0:2] # Last element is not included

[1, 2]

Note: When slicing, the last index is ignored.

In [ ]:
x[0:2][1] # we can index what gets returned

2

### Methods on Lists
Important methods lists:  
+ `.pop()`- remove the last element  
+ `.append()`- add an element  
+ `.extend()`, `.remove()`, `.insert`

## Tuples
Immutable lists. Sequential. Very good for iterations because they are immutable.

In [5]:
# creating a tuple
my_tuple = (1,2,my_list)
my_tuple

(1, 2, [0])

Behave like a list. Most functions and methods work.

## Strings
It is a sequence of characters. They are immutable. Common ways of creating strings:  
+ using ''  
+ casting: using str(variable)

In [ ]:
x = 'wolf'
y = str('pack')
print(x)

wolf

In [ ]:
z = x+y # this is called concatenating
print(z)

wolfpack

### Indexing and Slicing Strings
Similar to lists. We use [index] to get the elements we want.

In [ ]:
z[0]

'w'

In [ ]:
z[0:4]

'wolf'

### Commonly used methods on Strings
Some commonly used methods on strings include `.upper()`, `.lower()`, and `.split()`.  

Use `.format()` method to insert new values.

In [ ]:
Profession = "student"
Year = 4.54
my_string = "I am a {profession} and currently in my {year} semester" # {} is a place holder
my_string.format(profession = Profession, year = Year)

'I am a student and currently in my 4.54 semester'

In [ ]:
my_string2 = "I am a {profession} and currently in my {year:.1f} semester" # use formatting for the variables in the string
my_string2.format(profession = Profession, year = Year)

'I am a student and currently in my 4.5 semester'

## Booleans
Give a True or False. Any list, tuple, set, and dictionary give a True except empty ones.

In [ ]:
bool("string")

True

## Iterators
Very useful. A common iterator is `range()` function. It does not by itself generate values but an object to create values.

In [ ]:
seq = range(0,11)
seq # lazy evaluation, does not create values

range(0, 11)

In [ ]:
list(seq) # this generates the values

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Iterators like `range()`save memory- generate values only when required**

## Dictionaries
Immutable. Key-value pairs. Keys must be unique. Not ordered. Can created using dict() or {}

In [7]:
# example of a dictionary
keys = [x for x in "abcdefgh"]
values = [y for y in range(0,10)]
my_dict = dict(zip(keys, values))
my_dict

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6, 'h': 7}

In [9]:
# another dictionary- using dictionary comprehensions
my_dict = {"abcdef"[i] : i for i in range(0,6)}
my_dict

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5}

### Indexing and Slicing Dictionaries
We use the "keys" to index and slice Dictionaries.

In [12]:
my_dict["a"] # dict[key]

0

We can pack dictionaries using **.

### Dictionary Methods
`.get()`- instead of directly slicing, `.keys()`, `.values()`, `.update()`.

# Functions
Here is the format for writing our own functions:

def function_name(arguments, keywords):  
    """
    Description of function-  
    this is called Documentation string
    """  
    Function body
    return object

**A good way to write functions is write them outside of a function first and then put the pieces into the function.**

In [ ]:
# example of a function
def find_mean(num1, num2):
    """
    This function finds takes in two numebrs and finds the mean
    """
    avg = (num1+num2)/2
    return(avg)

Use ._doc _ for all functions with a documentation string.

In [ ]:
# Testing the above function
find_mean(2,4)

3.0

### Positional vs Key word Arguments
Cannot have a positional argument after a key word argument.

In [ ]:
def f(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2):

# pos1/pos2- positional arguments
# pos_or_kwd- positional or keyword arguments
# kwd1/ kwd2- keyword arguments

SyntaxError: incomplete input (ipython-input-751168150.py, line 5)

# Loops
To iterate over both x and y use zip(x,y).

if-elif-else

for loops

while loops

All sequence type objects are iterable (need it for loops)

In [ ]:
# for loop example
eye_color = [3,2,2,1,2,1,2,4,3,2,2,1,2,2]

In [ ]:
for i in eye_color:
  if i == 1:
    print("blue")
  elif i == 2:
    print("brown")
  elif i == 3:
    print("green")
  else:
    print("other")

green
brown
brown
blue
brown
blue
brown
other
green
brown
brown
blue
brown
brown

break (jump out of a loop) and continue (jumps to next iteration) in for loops